<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeakPic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <h2>Encode Image</h2>
        <form id="uploadForm" method="post" enctype="multipart/form-data" action="/">
            <div>
                <label for="file">Choose an image to encode:</label>
                <input type="file" name="file" id="file" accept=".jpg, .png"required>
            </div>
            <div>
                <label for="message">Enter your message:</label>
                <input type="text" name="message" id="message" required>
            </div>
            <div>
                <label for="algorithm">Choose encryption algorithm:</label>
                <select name="algorithm" id="algorithm" onchange="showKeyFields('encode')">
                    <option value="none">None</option>
                    <option value="rsa">RSA</option>
                    <option value="aes">AES</option>
                </select>
            </div>
            <div>
                <button type="submit">Encode</button>
            </div>
        </form>
        <hr>
        <h2>Decode Image</h2>
        <form id="decodeForm" method="post" enctype="multipart/form-data" action="/decode">
            <div>
                <label for="encoded_file">Choose an encoded image:</label>
                <input type="file" name="encoded_file" id="encoded_file" accept=".jpg" required>
            </div>
            <div>
                <label for="decode_algorithm">Choose decryption algorithm:</label>
                <select name="decode_algorithm" id="decode_algorithm" onchange="showKeyFields('decode')">
                    <option value="none">None</option>
                    <option value="rsa">RSA</option>
                    <option value="aes">AES</option>
                </select>
            </div>
            <div id="decodeKeyFields">
                <label for="decode_algorithm">Choose Key file:</label>
                <input type="file" name="decode_key_file" id="decode_key_file" accept=".txt" required>
            <div>
                <button type="submit">Decode</button>
            </div>
        </form>
        {% if decoded_message %}
        <div>
            <h3>Decoded Message:</h3>
            <p>{{ decoded_message }}</p>
        </div>
        {% endif %}
    </div>
    <script>
        document.getElementById('uploadForm').onsubmit = async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            try {
                const response = await fetch('/', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    const result = await response.json();
                    alert(result.error);
                } else {
                    const blob = await response.blob();
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'Encoded.zip';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                }
            } catch (error) {
                alert('L\'opération a échoué');
            }
        };

        
    </script>
    <!--document.getElementById('decodeForm').onsubmit = async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            try {
                const response = await fetch('/decode', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    const result = await response.json();
                    alert(result.error);
                } else {
                    const result = await response.json();
                    alert('Decoded Message: ' + result.decoded_message);
                }
            } catch (error) {
                alert('L\'opération a échoué');
            }
        };-->
</body>
</html>
